# DATA 1 Practical 6

Simos Gerasimou


## A Data Journey Through The Titanic

On April 15, 1912, during her maiden voyage from Southampton to New York, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg ([Wikipedia](https://en.wikipedia.org/wiki/RMS_Titanic)). As it was considered “unsinkable”, the Titanic did not carry enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.

**DataVision** has been commissioned by Her Majesty The Queen to investigate the conditions in which people survived and whether this was because of luck or whether some groups were more likely to survive than others. If discrimination due to gender or socio-economic class is identified, the Queen intends to use this information to change the cruise policies accordinly. 

#### Your tasks are to explore this dataset and generade some actionable knowledge. 


#### This Jupyter Notebook will be presented to  the House of Commons  who have limited knowledge about data science. So, your findings should be complemented by a suitable justification explaining what you observe and, when applicable, what does this observation  mean and, possibly, why it occurs.

* For each question (task) a description is provided accompanied (most of the time) by two cells: one for writing the Python code and another for providing the justification. Feel free to add more cells if you feel they are needed, but keep the cells corresponding to the same question close by.

#### Note: You are advised to use Pandas. For the visualisation, you can use Pandas, Matplotlib or Seaborn.

To answer these exercises, you should first read:

(1)  Chapter 3: Dapa Manipulation with Pandas from the Python Data Science Handbook** (https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html)

(2) Chapter 4: Visualization with Matplotlib (https://jakevdp.github.io/PythonDataScienceHandbook/04.00-introduction-to-matplotlib.html)



* Seaborn API: https://seaborn.pydata.org/api.html

***

### Part 1: Reading dataset


The Titanic dataset is available on VLE (look for titanicFull.csv in the Practicals section)

Before doing the tasks below, you may want to explore the dataset using a spreadsheet editor (e.g., Excel) to get a high-level view of the dataset.

**T1) Load the Titanic dataset using Pandas**

**Note**: You have to download the dataset on your local machine and then load it onto the Jupyter Notebook

In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Write your answer here

***

### Part 2: Cleaning the dataset

**T2i) Print the first 4 records of the dataset**

In [ ]:
#Write your answer here

**T2ii) Print the last 6 records of the dataset**

In [ ]:
#Write your answer here

**T3) Get general info about the dataset**

In [ ]:
#Write your answer here

**T4) Explore the dataset and try to understand the meaning of each variable (column). Identify which variables are categorical and which are numerical.**

**Note**: Inferring the meaning of variables 'Pclass', 'SibSp', 'Parch' could be challenging; think of what is missing from the dataset and what types of people were travelling on the Titanic. If you find it more difficult, the answer is at the end of this notebook

In [ ]:
#Write your answer here

**T5) Get the shape of the dataframe**

In [ ]:
#Write your answer here

**T6) Get the name of the columns for the dataframe**

In [ ]:
#Write your answer here

**T7) Do you think the columns (variables) need to be more readable? In particular, those that you might have found difficult to understand in T4**

In [ ]:
#Write your answer here

**T8) Are there any duplicated records?**

In [ ]:
#Write your answer here

**T9) Copy the dataset so that you manipulate the copied dataset and leave the original unaffected**

**Hint**: Check the pandas documentation for help on how to copy the dataframe

In [ ]:
#Write your answer here

**T10) Create a new dataframe in which**
* **a Missing variable (column) indicates the number of missing data for each variable in the titanic dataset**
* **a Percentage variable indicates the percentage of the missing data over the size of the titanic dataset**

**Print the records in this new dataframe sorted in descending order**

In [ ]:
#Write your answer here

**T11) What should we do with the variable with the highest number of missing data. Consider the amount of missing data compared to the total number of available data.**

In [ ]:
#Write your answer here

**T12) Impute the categorical variable (just one) with the mode value**

In [ ]:
#Write your answer here

**T13i) Plot the histogram of the numeric variable with the largest number of missing data so as to determine the best value to fill in the missing data. Add suitable title and axis names.**

**Note: You may want to use the native Pandas visualisation, matplotlib or seaborn**

**Hint**: Check the relevant section from the Python Data Science Handbook (https://jakevdp.github.io/PythonDataScienceHandbook/04.05-histograms-and-binnings.html) or the Pandas documentation (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.hist.html)

In [ ]:
#Write your answer here

**T13ii) Impute the numeric variable (just one) with an appropriate value**

* What value does it make sense to impute for this variable?

In [ ]:
#Write your answer here

**T13iii) Plot the histogram again for the variable from task T13 after imputation and observe how the distribution has changed.**

In [ ]:
#Write your answer here

**T14) What should you do about the missing value (one) of the final variable? Select the best imputation strategy and apply it**

**Hint:** You may want to consider additional factors and use a more sophisticated imputation strategy

In [ ]:
#Write your answer here

**T15i) Save the cleaned dataframe as a csv file with name "titanicClean.csv"**

**Hint: Check the Pandas to_csv function**

In [ ]:
#Write your answer here

**T15ii) Load the cleaned dataset into a new dataframe**

In [ ]:
#Write your answer here

***

### Part 3: Analysing the dataset

**T16) Get some descriptive statistics for the dataset selecting only the variables for which the descriptive statistics make sense**

In [ ]:
#Write your answer here

**T17i) For each passenger, find out how many family members she/he has in total and store this information as a new variable in the dataframe**

In [ ]:
#Write your answer here

**T17ii) Print the records for the family with surname "Palsson" and confirm that the result from task T17i is correct**

In [ ]:
#Write your answer here

**T18): Find out and print the details of the biggest family on board**

**Hint: You may want to check https://en.wikipedia.org/wiki/Passengers_of_the_Titanic or https://titanicfacts.net/titanic-passenger-list**

Also read: https://en.wikipedia.org/wiki/Passengers_of_the_Titanic#Third_class

In [ ]:
#Write your answer here

**T19i) How was the ticket fare for class 1 distributed? Generate a boxplot and investigate whether there are any interesting insights**

**Hint**: You may want to check: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.boxplot.html

In [ ]:
#Write your answer here

**T19ii) Do you see any weird fare values? Check if there are any outliers for the ticket fares of class 1 using the standard deviation method.**

In [ ]:
#Write your answer here

**T19iii) Print the information for those passengers**

You can read the interesting story of the passengers and their families at:
- https://www.encyclopedia-titanica.org/titanic-survivor/charlotte-cardeza.html
- https://www.encyclopedia-titanica.org/titanic-survivor/annie-moore-ward.html

In [ ]:
#Write your answer here

**T20) Given that Titanic stopped in three ports (C = Cherbourg, Q = Queenstown, S = Southampton) before departing from the UK, can we identify any patterns regarding the ports at which passengers embarked on the Titanic? Produce a bar plot to illustrate this**

**Hint:** You may want to check: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.bar.html

In [ ]:
#Write your answer here

### Brain Teaser
**Generate a new column 'Title' that includes the title of each passenger and has only the following entries:**
* Master, Miss, Mr, Mss 

where
* Miss includes also Mlle and Ms
* Mme includes also Mrs
* all the remaining titles become Rare

In [ ]:
#Write your answer here

In [ ]:
# Answers to T4
# - Pclass     Ticket class	     
# - SibSp      # of siblings/spouses aboard the Titanic
# - Parch      # of parents / children aboard the Titanic