# DATA 1 Practical 5

Simos Gerasimou


## All You Need to Know About Google Play Store

**Google Play store** ([https://play.google.com/store?hl=en](https://play.google.com/store?hl=en)) is a digital distribution service operated and developed by Google. It serves as the official app store for the Android operating system, allowing users to browse and download applications developed with the Android software development kit (SDK) and published through Google. [Wikipedia](https://en.wikipedia.org/wiki/Google_Play).

**DataVision** has scraped the Google Play store  and acquired data for several Android applications. Since data from the Play Store apps has great potential to drive app-making businesses to success, DataVision wants to investigate whether any actionable insights can be drawn for developers to work on and capture the Android market!

#### Your tasks are to explore this dataset and generade some actionable knowledge. 


#### This Jupyter Notebook will be presented to  Google stakeholders who have limited knowledge about data science. So, your findings should be complemented by a suitable justification explaining what you observe and, when applicable, what does this observation  mean and, possibly, why it occurs.

* For each question (task) a description is provided accompanied (most of the time) by two cells: one for writing the Python code and another for providing the justification. Feel free to add more cells if you feel they are needed, but keep the cells corresponding to the same question close by.

(1) To answer these exercises, you **must first read Chapter 3: Dapa Manipulation with Pandas from the Python Data Science Handbook** (https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html)

(2) If you haven't already done so, complete the exercises on Pandas tutorial to become familiar with the library.

**Pandas API Reference**: https://pandas.pydata.org/pandas-docs/stable/reference/index.html

***

### Part 1: Reading dataset

The Google dataset is available on VLE (look for googleplaystore.csv in the Practicals section)

Before doing the tasks below, you may want to explore the dataset using a spreadsheet editor (e.g., Excel) to get a high-level view of the dataset.

**T1) Load the Google Play Store dataset using Pandas**

**Note**: You have to download the dataset on your local machine and then load it onto the Jupyter Notebook

In [1]:
import pandas as pd 
import numpy as np

# Answer:
file = "googleplaystore.csv"
df = pd.read_csv(file)

***

### Part 2: Cleaning and analysing the dataset

**T2i) Print the first 10 records of the dataframe**

In [2]:
#All commands below are equivalent
df.head(10)
# df[0:10]
# df.iloc[0:10]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

**T2ii) Print the last 3 records of the dataframe**

In [3]:
#All commands below are equivalent
# df.tail(3)
# df[-3:]
df.iloc[-3:]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1,2.2 and up
10837,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10838,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

**T3) Get general info about the dataset**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10839 entries, 0 to 10838
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10839 non-null  object
 1   Category        10839 non-null  object
 2   Rating          9365 non-null   float64
 3   Reviews         10839 non-null  int64
 4   Size            10839 non-null  object
 5   Installs        10839 non-null  object
 6   Type            10838 non-null  object
 7   Price           10839 non-null  object
 8   Content Rating  10839 non-null  object
 9   Genres          10839 non-null  object
 10  Last Updated    10839 non-null  object
 11  Current Ver     10831 non-null  object
 12  Android Ver     10837 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

**T4) Explore the dataset and try to understand the meaning of each column. For each column, write its meaning and its data type**

- App:            Name of the application (Text)
- Category:       Category the app belongs to (Categorical - nominal)
- Rating          Overall user rating (Numerical - continuous)
- Reviews         Number of user reviews (Numerical - continuous)
- Size            Size of the application in MBs (Numerical - continuous)
- Installs        Number of user installs (Numerical - discrete)
- Type            Free/Paid (Categorical - nominal)
- Price           Price of the application (Numerical - continuous)
- Content Rating  Age group that can use the app (Categorical - ordinal)
- Genres          Genres the application belongs to (Categorical - nominal)
- Last Updated    When it was updated last time (Text; or integer if you transform the date into Unix time)
- Current Ver     Current version on Play Store (Text)
- Android Ver     Min required Android version  (Text)

**T5) Get the shape of the dataframe**

In [5]:
df.shape

(10839, 13)

**T6) Get the name of the columns for the dataframe**

In [6]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

**T7) Do you think the columns (variables) need to be more readable? If so, rename them (e.g., suitable capitalisation, eliminate underscores, full words)**

In [7]:
#You can eliminate spaces in columns simply because it would be easier to reference them later
df.rename(index=str, columns={"Content Rating":"ContentRating", "Last Updated":"LastUpdated", "Current Ver":"CurrentVersion", "Android Ver":"AndroidVersion"}, inplace=True)
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'ContentRating', 'Genres', 'LastUpdated', 'CurrentVersion',
       'AndroidVersion'],
      dtype='object')

**T8) How many duplicated records exist?**

**Note**: A record is duplicated if all its entries are identical with another record

In [8]:
duplicatesNum = df.duplicated().sum()
print("There are %d duplicate records"% (duplicatesNum))

There are 483 duplicate records

**T9i) How many of the duplicated records refer to 'blood pressure' in their name?**

In [9]:
duplicates = df[(df.duplicated())] 
duplicatedWithBloodPressure = duplicates[duplicates['App'].str.contains('Blood pressure', case=False)]

print("%d duplicated records have 'blood pressure' in their name" % (duplicatedWithBloodPressure.shape[0]))
print("%d duplicated records have 'blood pressure' in their name" % (len(duplicatedWithBloodPressure)))

9 duplicated records have 'blood pressure' in their name
9 duplicated records have 'blood pressure' in their name

**T9ii) Print the records you found in task T9i**

In [10]:
# Printing the duplicated records that contain 'blood pressure' in their name
duplicatedWithBloodPressure

,App,Category,Rating,Reviews,Size,Installs,Type,Price,ContentRating,Genres,LastUpdated,CurrentVersion,AndroidVersion
2502,Free Blood Pressure,MEDICAL,NaN,7,5.7M,"5,000+",Free,0,Everyone,Medical,"October 13, 2016",3.0.0,4.0.3 and up
2512,JH Blood Pressure Monitor,MEDICAL,3.7,9,2.9M,500+,Free,0,Everyone,Medical,"July 21, 2018",1.1,4.0.3 and up
6584,iBP Blood Pressure,MEDICAL,4.4,578,704k,"10,000+",Paid,$0.99,Everyone,Medical,"November 30, 2014",7.0.1,2.2 and up
6585,Blood Pressure,MEDICAL,4.2,33033,7.4M,"5,000,000+",Free,0,Everyone,Medical,"July 24, 2018",3.27.3,4.1 and up
6590,Blood Pressure(BP) Diary,MEDICAL,3.7,3596,8.4M,"1,000,000+",Free,0,Everyone,Medical,"July 18, 2018",4.0.9,4.0.3 and up
6593,BP Journal - Blood Pressure Diary,MEDICAL,5.0,6,26M,"1,000+",Free,0,Everyone,Medical,"May 25, 2018",1.0.32,4.4 and up
6594,Blood Pressure Monitor,MEDICAL,4.3,17,6.0M,"10,000+",Free,0,Everyone,Medical,"February 25, 2017",1.0.1,4.4 and up
6595,Blood Pressure Companion,MEDICAL,4.2,178,4.8M,"1,000+",Paid,$0.99,Everyone,Medical,"July 22, 2018",4.1.5 (Steglitz),4.1 and up
6598,Free Blood Pressure,MEDICAL,NaN,7,5.7M,"5,000+",Free,0,Everyone,Medical,"October 13, 2016",3.0.0,4.0.3 and up

**T10) Let's look more closely into the dataset. Are there more duplicates?**

**Hint:** Check the duplicated function of Pandas to understand how the function operates. Do you need to specify what information to consider when checking for duplicates?

In [11]:
#Two records are the same if they contain information for the same application
#So, we need to constraint our check to the applications' name column
duplicatedAppsSum = df.duplicated(subset='App').sum()

print("In fact, there are %d duplicate records"% (duplicatedAppsSum))

In fact, there are 1181 duplicate records

**T11) Find the app with the highest number of duplicated records and the number of duplicated records for this app**

**Hint:** How can you count the records of a dataframe?

In [12]:
duplicatedApps = df[df.duplicated(subset='App')]
duplicatedAppsSummary =  duplicatedApps['App'].value_counts()

print("The app %s has %d duplicated records" % (duplicatedAppsSummary.index[0], duplicatedAppsSummary[0]))

The app ROBLOX has 8 duplicated records

In [13]:
#Solution#2 using Python functions
duplicatedApps = df[df.duplicated(subset='App')]
dupsPerApp = []

duplicatedAppsNames = duplicatedApps['App'].unique()
for u in duplicatedAppsNames:
  dupsPerApp.append(len(duplicatedApps[duplicatedApps['App']==u]))

dupsPerAppArray = np.array(dupsPerApp)

maxDupRecords     = np.max(dupsPerAppArray)
maxDupRecordsApp  = duplicatedAppsNames[dupsPerAppArray.argmax()]

print("The app %s has %d duplicated records" % (maxDupRecordsApp, maxDupRecords))

The app ROBLOX has 8 duplicated records

**T12) Investigate the records for the app you found in task T10. What can you observe? Can you identiy the reason why the duplicate records exist?**

In [14]:
duplicatedApps[duplicatedApps['App']==maxDupRecordsApp]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,ContentRating,Genres,LastUpdated,CurrentVersion,AndroidVersion
1701,ROBLOX,GAME,4.5,4447346,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1748,ROBLOX,GAME,4.5,4448791,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1841,ROBLOX,GAME,4.5,4449882,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1870,ROBLOX,GAME,4.5,4449910,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2016,ROBLOX,FAMILY,4.5,4449910,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2088,ROBLOX,FAMILY,4.5,4450855,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2206,ROBLOX,FAMILY,4.5,4450890,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
4527,ROBLOX,FAMILY,4.5,4443407,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up

The duplicate records exist because:

* two or more records are identical (for all variables); e.g., rows 2976, 3007, 3015, 3020
* two or more records correspond to the same application. However, they may have different number of reviews; e.g., rows 3020 and 3056. This indicates that the collection of information ocurred at different timepoints resulting in a dataset with inconsistent information

**T13) Assuming that the data has been scraped sequentially, remove all duplicates by specifying which record to keep**

**Hint:** You may want to check the documentation of the drop_duplicates function

In [15]:
#Since the data has been scraped sequentially, that means that the latest duplicate 
#is the most recent. Hence, we need to keep the last duplicate
dfClean = df.drop_duplicates(subset='App', keep='last')
dfClean.shape

(9658, 13)

**T14i) Check the type of variable indicating the last time the application was update and convert it into the appropriate format**

**Hint:** 

* You may want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

* Pay attention to the date format and the month type

* You may also want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

In [16]:
dfClean.loc[:, 'LastUpdated'] = pd.to_datetime(dfClean['LastUpdated'], format='%B %d, %Y')

C:\Users\jense\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

**T14ii) Which application was updated least recently and when did this happen?**

In [17]:
sortedLastUpdated = dfClean['LastUpdated'].sort_values()

print("%s is the least recently updated application and was updated on %s"% (dfClean.loc[sortedLastUpdated.index[0]]['App'], str(sortedLastUpdated[0])))

CJ Poker Odds Calculator is the least recently updated application and was updated on 2011-01-30 00:00:00

**T15) How many unique values exist under the Price variable? Print the first five unique prices.**

In [18]:
uniquePricesNum = dfClean['Price'].nunique()
uniquePrices = dfClean['Price'].unique()

print("There are %d unique price values. The first five are %s" % (uniquePricesNum, uniquePrices[:5]))

print("There are %d unique price values. The first five are %s" % (len(uniquePrices), uniquePrices[:5]))

There are 92 unique price values. The first five are ['0' '$4.99' '$3.99' '$1.49' '$2.99']
There are 92 unique price values. The first five are ['0' '$4.99' '$3.99' '$1.49' '$2.99']

**T16i) Write a function moneyWithoutCurrencySymbol that takes a string and returns the string as a float without the currency symbol (if exists)**

In [19]:
#This is a generic function that takes a string with a $ symbol
#and returns a float after removing the $ symbol and converting the  rest of the string into a float
def moneyWithoutCurrencySymbol(v):
  if type(v) is not float:
    return float(v.replace("$", ""))
  else:
    return v

**T16ii) Perform the necessary processing tasks to convert the Price variable into a float**

**Hint:**

* You may want to use the function from task T16i
* You may want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.apply.html
* Alternatively, you may want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html

In [20]:
# Solution 1
dfClean.loc[:, 'Price'] = dfClean['Price'].apply(moneyWithoutCurrencySymbol) 

#Solution 2
# dfClean["Price"] = pd.to_numeric(dfClean["Price"].str.strip("$"))

**T17i) How many missing data exist for each variable? Is this a messy or a clean dataset?**

In [21]:
dfClean.isna().sum()

App                  0
Category             0
Rating            1463
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
ContentRating        0
Genres               0
LastUpdated          0
CurrentVersion       8
AndroidVersion       2
dtype: int64

**T17ii) Impute the categorical columns with the mode value**

**Hint:** Check Chapter 3 of the Python Data Science Handbook

In [22]:
# Replace missing data (NaN) in the categorical columns "Type", "Content Rating", "Android Version" and
# "Current Version" with the mode of each column
# dfClean['Type'] = dfClean['Type'].fillna(dfClean['Type'].mode()[0])
# dfClean['AndroidVersion'] = dfClean['AndroidVersion'].fillna(dfClean['AndroidVersion'].mode()[0])
# dfClean['CurrentVersion'] = dfClean['CurrentVersion'].fillna(dfClean['CurrentVersion'].mode()[0])

#Solution2
dfClean.loc[dfClean['Type'].isna(), 'Type'] = dfClean['Type'].mode()[0]
dfClean.loc[dfClean['AndroidVersion'].isna(), 'AndroidVersion'] = dfClean['AndroidVersion'].mode()[0]
dfClean.loc[dfClean['CurrentVersion'].isna(), 'CurrentVersion'] = dfClean['CurrentVersion'].mode()[0]

/usr/local/lib/python3.9/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

**T17iii) What would be an appropriate value to impute for the other variable? Apply the imputation.**

In [23]:
# We assume that applications with NaN rating are either new applications with only a few reviews 
# or applications that do not have any reviews, perhaps, because they are not well-designed and built. 
# So the best strategy is to impute those NaN Rating records with the minimum value, i.e., 0

#Solution1
dfClean['Rating'] = dfClean['Rating'].fillna(0)

#Solution2
# dfClean.loc[dfClean['Rating'].isna(), 'Rating'] = 0

<ipython-input-23-5529ef860ce5>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfClean['Rating'] = dfClean['Rating'].fillna(0)

**T18i) Which are the possible values for the variable Installs?**

In [24]:
#Let's check the unique values of Installs
dfClean['Installs'].unique()

array(['10,000+', '5,000,000+', '50,000,000+', '100,000+', '50,000+',
       '1,000,000+', '10,000,000+', '5,000+', '500,000+',
       '1,000,000,000+', '100,000,000+', '1,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '500,000,000+', '0+', '0'], dtype=object)

**T18ii) Based on the result from task T18i, do you see any odd value? Do think any cleaning is needed?**

In [25]:
#It seems that there are entries both with "0+" and "0". Let's homogenise them and turn "0" to "0+"
# newStr = dfClean.loc[dfClean["Installs"]=="0","Installs"].str.replace("0", "0+")
dfClean.loc[dfClean["Installs"]=="0+","Installs"] = "0"

**T18iii) If you did any cleaning in T18ii, check that the cleaning has taken place**

In [26]:
dfClean[(dfClean['Installs']=="0+")]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, ContentRating, Genres, LastUpdated, CurrentVersion, AndroidVersion]
Index: []

**T19i) Perform the necessary processing tasks to convert the Size variable into a float using a common metric (i.e., which will enable to compare records between each other using the size value). Set records whose value is "Varies with device" to 1**

In [27]:
#Since the size of some applications is in Megabytes whereas others is in Kilobytes,
#we need to convert them into a common metric. Here, we convert everything into Megabytes
def sizeToFloat (v):
  if "M" in v:
    return float(v.strip("M"))
  elif v[-1]=="k":
    return float(v.strip("k"))/1024
  else:
    return 1.0

# dfClean.loc[:, 'Size'] = 
dfClean['Size'] = dfClean['Size'].apply(sizeToFloat)

<ipython-input-27-d2c24372f909>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfClean['Size'] = dfClean['Size'].apply(sizeToFloat)

**T19ii) Which is the smallest application and what is its size?**

In [28]:
sortedSize = dfClean['Size'].sort_values()

print("%s is the smallest application and its size is %.4fM" % (dfClean.loc[sortedSize.index[0]]['App'], sortedSize[0]))

Essential Resources is the smallest application and its size is 0.0083M

**T19iii) What is the most common Category of the largest applications and which applications belong to this Category?**

In [29]:
largestApps = dfClean.loc[sortedSize[sortedSize==sortedSize[-1]].index]

largestAppsCategory = largestApps['Category'].mode()[0]
largestAppsCategoryNames = largestApps[largestApps['Category']==largestAppsCategory]['App']
print("The most common category of the largest applications is  ", largestAppsCategory) 
print("The applications that belong to this category are\n", largestAppsCategoryNames.values)

The most common category of the largest applications is   GAME
The applications that belong to this category are
 ['Car Crash III Beam DH Real Damage Simulator 2018'
 'Mini Golf King - Multiplayer Game' 'The Walking Dead: Our World'
 'Miami crime simulator' 'Stickman Legends: Shadow Wars'
 'Hungry Shark Evolution']

**T20) Are there any logical errors in the Type and Price variables? Are there any applications whose type if Free and you have to pay? Are there any application with type Paid which you can get for free? Check the integrity of the dataset using these conditions**

In [30]:
free = dfClean[(dfClean['Price']>0) & (dfClean['Type']=="Free") ]
paid = dfClean[(dfClean['Price']<=0) & (dfClean['Type']=="Paid") ]

print ("The are %d Free applications for which you have to pay" % (len(free)))
print ("The are %d Paid applications which are given for free" % (len(paid)))

The are 0 Free applications for which you have to pay
The are 0 Paid applications which are given for free

**T21) A reviewer of an application may or may not rate the review. Check the consistency of the dataset concerning this matter**

In [31]:
#Here we need to check that no application without any review has a rating above 0
dfClean[(dfClean['Reviews']==0) & (dfClean['Rating']>0)]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, ContentRating, Genres, LastUpdated, CurrentVersion, AndroidVersion]
Index: []

**T22) Get some descriptive statistics for the dataset**

In [32]:
dfClean.describe()

            Rating       Reviews         Size        Price
count  9658.000000  9.658000e+03  9658.000000  9658.000000
mean      3.541054  2.166735e+05    17.935304     1.097344
std       1.575689  1.830831e+06    21.393800    16.852487
min       0.000000  0.000000e+00     0.008301     0.000000
25%       3.600000  2.500000e+01     2.900000     0.000000
50%       4.200000  9.680000e+02     9.100000     0.000000
75%       4.500000  2.940800e+04    25.000000     0.000000
max       5.000000  7.812821e+07   100.000000   400.000000

**T23) Create a new column that indicates the difference between the Last Updated variable column and the current date.**

In [33]:
from datetime import datetime,date
dfClean["NotUpdatedFor"]  = pd.to_datetime(datetime.today().strftime("%m-%d-%Y")) - dfClean["LastUpdated"]
dfClean.head()

<ipython-input-33-68423a96b341>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfClean["NotUpdatedFor"]  = pd.to_datetime(datetime.today().strftime("%m-%d-%Y")) - dfClean["LastUpdated"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,ContentRating,Genres,LastUpdated,CurrentVersion,AndroidVersion,NotUpdatedFor
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,1134 days
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0.0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up,928 days
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0.0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up,982 days
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up,970 days
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6,"50,000+",Free,0.0,Everyone,Art & Design,2017-03-26,1,2.3 and up,1421 days

**T24) (Funny) What is weird about the most expensive appslications which are at or above the 99.9th percentile?**

In [34]:
#Check the name of the applications
dfClean[dfClean['Price']>=dfClean['Price'].quantile(0.999)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,ContentRating,Genres,LastUpdated,CurrentVersion,AndroidVersion,NotUpdatedFor
4197,most expensive app (H),FAMILY,4.3,6,1.500000,100+,Paid,399.99,Everyone,Entertainment,2018-07-16,1,7.0 and up,944 days
4362,💎 I'm rich,LIFESTYLE,3.8,718,26.000000,"10,000+",Paid,399.99,Everyone,Lifestyle,2018-03-11,1.0.0,4.4 and up,1071 days
4367,I'm Rich - Trump Edition,LIFESTYLE,3.6,275,7.300000,"10,000+",Paid,400.00,Everyone,Lifestyle,2018-05-03,1.0.1,4.1 and up,1018 days
5351,I am rich,LIFESTYLE,3.8,3547,1.800000,"100,000+",Paid,399.99,Everyone,Lifestyle,2018-01-12,2,4.0.3 and up,1129 days
5354,I am Rich Plus,FAMILY,4.0,856,8.700000,"10,000+",Paid,399.99,Everyone,Entertainment,2018-05-19,3,4.4 and up,1002 days
5356,I Am Rich Premium,FINANCE,4.1,1867,4.700000,"50,000+",Paid,399.99,Everyone,Finance,2017-11-12,1.6,4.0 and up,1190 days
5358,I am Rich!,FINANCE,3.8,93,22.000000,"1,000+",Paid,399.99,Everyone,Finance,2017-12-11,1,4.1 and up,1161 days
5359,I am rich(premium),FINANCE,3.5,472,0.942383,"5,000+",Paid,399.99,Everyone,Finance,2017-05-01,3.4,4.4 and up,1385 days
5362,I Am Rich Pro,FAMILY,4.4,201,2.700000,"5,000+",Paid,399.99,Everyone,Entertainment,2017-05-30,1.54,1.6 and up,1356 days
5364,I am rich (Most expensive app),FINANCE,4.1,129,2.700000,"1,000+",Paid,399.99,Teen,Finance,2017-12-06,2,4.0.3 and up,1166 days
5369,I am Rich,FINANCE,4.3,180,3.800000,"5,000+",Paid,399.99,Everyone,Finance,2018-03-22,1,4.2 and up,1060 days
5373,I AM RICH PRO PLUS,FINANCE,4.0,36,41.000000,"1,000+",Paid,399.99,Everyone,Finance,2018-06-25,1.0.2,4.1 and up,965 days
9933,I'm Rich/Eu sou Rico/أنا غني/我很有錢,LIFESTYLE,0.0,0,40.000000,0,Paid,399.99,Everyone,Lifestyle,2017-12-01,MONEY,4.1 and up,1171 days

### Should you finish earlier/want to practice at home, you could

* Check that the Price variable does not have logical error (values below 0)
* Check that the values of Rating variable is within the limits [0,5]
* Any other analysis that you might could generate some useful insight.